/* Background */

body {
    margin: 0;
}

.fullsize {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.recurso-utilizado img {
    height: 0;
    position: absolute;
}

                                                            /* ----- HERO ----- */

#hero {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url(img/pattern-circles-ivory-2x.png);
    align-items: center;
    justify-content: center;
}

#brown {
    position: absolute;
    background: url(img/pattern-circles-brown-2x.png);
    height: 99vh;
    width: 99vw;
    mask: url(img/The_Legend_of_Zelda_-_Breath_of_the_Wild.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    opacity: 0.25;
}

#promo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 39%;
    height: 93vh;
    margin: 3.5vh;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
} 

                                                            /* --- TITULO --- */

#titulo {
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: end;
    margin-bottom: 1.5vh;
}

#titulo p {
    font-family: 'PT Serif', serif;
    color: #000000;
    font-size: 6.8vw;
    font-weight: 600;
    margin: 0; 

}

iam {
    text-shadow: 2px 2px rgb(218, 218, 218);
    filter: drop-shadow(0 0 5px #000000) drop-shadow(0 0 15px #cacaca);    
}

p span {
    font-weight: 700;
    position: relative;
    color: rgba(0, 0, 0, 0.0);
    animation: displayText 25s infinite;
    animation-delay: calc(-5s * var(--i));
    margin: 0;
}

@keyframes displayText {
    0% {
        display: inline-block;
    }
    20%, 100% {
        display: none;
    }
}

p span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #46321f;
    overflow: hidden;
    border-right: 0.33vw solid #46321f;
    filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 20px #bb9f85);
    animation: animate 5s linear infinite;
    text-shadow: 2.5px 2.5px #b9a18a;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }

    70%, 90% {
        width: 100%;
    }
}

                                                            /* --- SUB-TITULO --- */

.texto-animado {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    margin: 1%;
    color:white;
    text-shadow: 2px 2px black;
    padding: 3%;
    z-index: 1;
    height: 9.5vw;
    width: 99%;
    text-align: center;
    background: url(img/pattern-runes-green.png);
    justify-items: center;
    align-items: center;
    border-radius: 3vh;
    border: 1.5vh solid #46321f;
}

.texto-animado span {
    opacity: 0;
    animation: aparecer 0.33s forwards;
  }

  @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

                                                            /* --- BOTONES --- */

#buttons_hero {
    height: 5vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5%;
}

.button_h {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    position: relative;
    color: #46321f;
    font-weight: 700;
    background: #46321f;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: start;
    width: 25%;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1vw;
}

.button_h:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.2em;
    box-shadow: 0 0 10px var(--clr);
}

.button_h::before {
    content: "";
    position: absolute;
    inset: 0.4vw;
    background: #ffffff ;
    border-radius: 0.65vw;
}

.button_h span  {
    position: relative;
}

.button_h i {
    position: absolute;
    inset: 0;
    display: block;
}

.button_h i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    width: 2vw;
    height: 0.4vw;
    background: #fff;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.button_h:hover i::before {
    width: 2vw;
    left: 30%;
}

.button_h i::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 2vw;
    height: 0.4vw;
    background: #fff;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.button_h:hover i::after {
    width: 2vw;
    left: 70%;
}

                                                            /* --- IMAGENES --- */

#media {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 39%;
    height: auto;
    margin: 3.5vh;
    margin-left: 2%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
}

.hexagon {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#linea_sup, #linea_mid, #linea_bot {
    position: relative;
    display: flex;
    height: 33%;
}

.hex-bord {
    background: url(img/pattern-runes-green.png);
    width: 12.1vw;
    height: 12.1vw;
    mask: url(img/hexagon.svg);
    mask-position: center;
    mask-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hex-imag {
    width: 85%;
    height: 85%;
    mask: url(img/hexagon2.svg);
    mask-position: center;
    mask-size: contain;
}

.hex-mask {
    position: relative;
    width: 85%;
    height: 85%;
    overflow: hidden;
    mask: url(img/hexagon.svg);
    mask-position: center;
    mask-size: contain;
  }

.hex-video {
    width: 100%; /* Aumenta el tamaño para asegurar que cubra completamente el área del hexágono */
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Ajusta el tamaño del video para cubrir el contenedor */
    
  }

.hex-bord:hover {
    transform: scale(1.3);
}

                                                    /*--- OVERLAY IMAGENES ---*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    margin: auto;
    max-width: 65%;
    max-height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 2.5vw;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #bbb;
  }
  
  

