/* Background */

body {
    margin: 0;
}

.fullsize {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.recurso-utilizado img {
    height: 0;
    position: absolute;
}

/* Hero */

#hero {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url(img/pattern-circles-ivory-2x.png);
    align-items: center;
    justify-content: center;
}

#brown {
    position: absolute;
    background: url(img/pattern-circles-brown-2x.png);
    height: 99vh;
    width: 99vw;
    mask: url(img/The_Legend_of_Zelda_-_Breath_of_the_Wild.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    opacity: 0.25;
}

#promo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 39%;
    height: 93vh;
    margin: 3.5vh;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
} 

#titulo {
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: end;
    margin-bottom: 15px;
}

#titulo p {
    font-family: 'PT Serif', serif;
    color: #000000;
    font-size: 6.8vw;
    font-weight: 600;
    margin: 0; 

}

iam {
    text-shadow: 2px 2px rgb(218, 218, 218);
    filter: drop-shadow(0 0 5px #000000) drop-shadow(0 0 15px #cacaca);    
}

p span {
    font-weight: 700;
    position: relative;
    color: rgba(0, 0, 0, 0.0);
    animation: displayText 15s infinite;
    animation-delay: calc(-3s * var(--i));
    margin: 0;
}

@keyframes displayText {
    0% {
        display: inline-block;
    }
    20%, 100% {
        display: none;
    }
}

p span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #46321f;
    overflow: hidden;
    border-right: 4px solid #000000;
    filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 20px #bb9f85);
    animation: animate 3s linear infinite;
    text-shadow: 2.5px 2.5px #b9a18a;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }

    70%, 90% {
        width: 100%;
    }
}

#sub-titulo p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    margin: 30px;
    color:white;
    text-shadow: 2px 2px black;
}

#sub-titulo {
    z-index: 1;
    display: flex;
    height: auto;
    width: 99%;
    text-align: center;
    background: url(img/pattern-runes-green.png);
    justify-items: center;
    align-items: center;
    border-radius: 40px;
    border: 5px solid #46321f;
}

#media {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 39%;
    height: auto;
    margin: 3.5vh;
    margin-left: 2%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
}

.hexagon {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#linea_sup, #linea_mid, #linea_bot {
    position: relative;
    display: flex;
}

.hex-bord {
    background: url(img/pattern-runes-green.png);
    width: 12vw;
    height: 12vw;
    mask: url(img/hexagon.svg);
    mask-position: center;
    mask-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.hex-imag {
    background: url(https://img.asmedia.epimg.net/resizer/SdPLT5TQmRZkdX_otWUKWEDOHZY=/1472x828/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/UN7EWUQBDJCKXFY347M7APJBRI.jpg);
    background-size: cover;
    background-position: center;
    width: 85%;
    height: 85%;
    mask: url(img/hexagon.svg);
    mask-position: center;
    mask-size: contain;
}

#buttons_hero {
    height: 5vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5%;
}

.button_h {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    position: relative;
    color: #24584D;
    font-weight: 700;
    background: #24584D;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: start;
    width: 25%;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

.button_h:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.2em;
    box-shadow: 0 0 10px var(--clr);
    
}

.button_h::before {
    content: "";
    position: absolute;
    inset: 0.3vw;
    background: #ffffff ;
    border-radius: 15px;}

.button_h span  {
    position: relative;
}

.button_h i {
    position: absolute;
    inset: 0;
    display: block;
}

.button_h i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    width: 2vw;
    height: 0.4vw;
    background: #fff;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.button_h:hover i::before {
    width: 2vw;
    left: 30%;
}

.button_h i::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 2vw;
    height: 0.4vw;
    background: #fff;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.button_h:hover i::after {
    width: 2vw;
    left: 70%;
}


