/* footer */
#div_footer {
    margin-top: 50px;
    display:flex;
    height: 270px;
    background: #2b2b2b;
    box-shadow: 0 0 40px #5a5757c2;
    flex-direction: column;
    width: 100%;
    border-top: 3px solid rgba(209, 213, 219, 0.3);
    }
    
    #contenedor-principal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
    
      #contenedor-principal div {
        width: 20%;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    
      #contenedor-principal img {
        width: 50%;
        height: auto;
        display: block;
        opacity: 0.5;
      }
    
      #div_footer p {
        font-size: 20px;
        font-style: italic;
        text-align: center;
        color: #999999;
      }